html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    position: relative;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}
